@page
@model Dutch_Experience.Pages.AboutModel
@{
    ViewData["Title"] = "Dutch Experience | About Us";
    ViewData["PageTitle"] = "About Us";    
}


<!------ about us ------->


<div class="about-us">
    <div class="row">
        <div class="about-col">
            <h1>Title Here</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates
                sequi et excepturi voluptatem quas, obcaecati tenetur voluptatibus
                aut in praesentium!
            </p>
            <a href="" class="hero-btn red-btn">cilck Here</a>
        </div>
        <div class="about-col">
            <img src="~/ImagesAdmins/AboutUs.jpg" />
        </div>
    </div>
</div>