@page
@model Dutch_Experience.Pages.AddPostModel
@{
    ViewData["Title"] = "Dutch Experience | Add Post";
    ViewData["PageTitle"] = "Share Your Experience";
}

<!------ Add Post ------->

<div class="post">
    <h1>New Post</h1>
    <div class="post-success">@ViewData["message"]</div>
</div>

<!------ Input fields ------->

<div class="post-col">
    <!-- Refers to the whole form combination-->
    <form method="post" enctype="multipart/form-data">
        <!--  Place Name  -->
        @*<span class="dataV" asp-validation-for="Content.PlaceName"></span>*@
        @*<input type="text" asp-for="Content.PlaceName"*@
               placeholder="Place Name" />

        @*Province populated by the enum*@
        @*<span class="dataV" asp-validation-for="Content.Province"></span>*@
        @*<select asp-for="Content.Province" asp-items="Html.GetEnumSelectList<PROVINCE>()">*@
            @*<option value="">Select provine of the place</option>
        </select>*@

        @*Place Description*@
        @*<span class="dataV" asp-validation-for="Content.Description"></span>*@
        @*<textarea asp-for="Content.Description" rows="8"*@
                  @*placeholder="Your Experience"></textarea>*@

        <!--  Image  -->
        @*<span class="dataV" asp-validation-for="Content.ImageLocation"></span>*@
        @*<input id="File1" type="file" asp-for="Content.ImageLocation" />*@

        <!--  Submit button  -->
        <input id="Submit1" type="submit" value="Upload file" />
    </form>
</div>
