@page
@model Dutch_Experience.Pages.BlogModel
@{
    ViewData["Title"] = "Dutch Experience | Blog";
    ViewData["PageTitle"] = "Blog";
    ViewData["shareExperience"] = "Share you experience";
}

<!------ about us ------->


<div class="about-us">
    <div class="row">
        <div class="about-col">
            <h1>Add Your Experience</h1>
            <p>
                Talk to everyone about your last trip or one of your past trip experiences in The Netherlands.
            </p>
            <a asp-area="" asp-page="/AddPost" class="hero-btn red-btn">Add Experience</a>
        </div>
    </div>
</div>

@*USERS POSTS*@

<div class="post-upload">
    @ViewData["confirmationNote"]
</div>


<!--  Print all posts to screen  -->
<main class="blog-content">
    @*for each loop was here*@
</main>