@page
@model Synthesis_Assignment_Web_App.Pages.BookModel
@using SynthesisAssignment.Services;
@using SynthesisAssignment.Models;
@using SynthesisAssignment.Models.Enums;
@using SynthesisAssignment.MyClasses.Enums;
@{
    ViewData["Title"] = "Book";
}

<!--  cover image  -->
<div class="book-cover-img">

    @*<div class="book-now-box">
            <a href="" class="hero-btn">Book Now</a>
        </div>*@

    @*<form class="book-filter" action="/" method="post">
            <div class="form-fields">
                <label for="date">Start date:</label>
                <input type="date" id="date" placeholder="dd/MM/yyyy" name="date">
                <label for="date">End date:</label>
                <input type="date" id="date" placeholder="dd/MM/yyyy" name="date">
                <button class="filter-button" type="submit">Check Availability</button>
            </div>
        </form>*@
</div>

<!--  to display date  -->
@*<input type="date" value="@string.Format("{0:yyyy-MM-dd}", Model.Quote.StartDate)" />*@

<!------ Item1 - Booking form ------->
<div class="item1-intro">
    <h1>Select your preferences and book</h1>
</div>


<!--  Title  -->
<!--  <h2 class="boats-title">Our Collection</h2>  -->

<div class="post-col">
    <!-- Refers to the whole form combination-->
    <form class="booking-form" method="post">

        <!--  Boat type  -->
        <h2 class="boats-title">Choose a boat</h2>
        <span class="dataV" asp-validation-for="Quote.Boat.BoatType"></span>
        <select asp-for="Quote.Boat.BoatType" asp-items="Html.GetEnumSelectList<BOATTYPE>()">
        </select>

        <!--  boat Quantity  -->
        <h2 class="boats-title">Choose quantity</h2>
        <span class="dataV" asp-validation-for="Quote.Boat.Quantity"></span>
        <input type="text" asp-for="Quote.Boat.Quantity"
               placeholder="Boat Quantity" />        

        <!--  item type  -->
        <h2 class="boats-title">Choose item</h2>
        <span class="dataV" asp-validation-for="Quote.Item.ItemType"></span>
        <select asp-for="Quote.Item.ItemType" asp-items="Html.GetEnumSelectList<ITEMTYPE>()">
        </select>

        <!--  item Quantity  -->
        <h2 class="boats-title">Choose quantity</h2>
        <span class="dataV" asp-validation-for="Quote.Item.Quantity"></span>
        <input type="text" asp-for="Quote.Item.Quantity"
               placeholder="Item Quantity" />

        <!--  start date  -->
        <h2 class="boats-title">Choose start and end dates</h2>

        <div class="quote-dates">
            <span class="dataV" asp-validation-for="Quote.StartDateTime"></span>
            <label for="date">Start date & time:</label>
            @Html.TextBoxFor(Model => Model.Quote.StartDateTime, new { type = "datetime-local" })

            <!--  end date  -->
            <span class="dataV" asp-validation-for="Quote.EndDateTime"></span>
            <label for="date">End date & time:</label>
            @Html.TextBoxFor(Model => Model.Quote.EndDateTime, new { type = "datetime-local" })
        </div>
       
        <!--  location  -->
        <h2 class="boats-title">Choose location</h2>
        <span class="dataV" asp-validation-for="Quote.Location"></span>
        <select asp-for="Quote.Location" asp-items="Html.GetEnumSelectList<LOCATION>()">
        </select>

        <!--  Submit button  -->
        <input id="Submit1" type="submit" value="Add My Selections" />
    </form>
</div>
