@page
@model Synthesis_Assignment_Web_App.Pages.BookModel
@using SynthesisAssignment.Services;
@using SynthesisAssignment.Models;
@using SynthesisAssignment.Models.Enums;
@{
    ViewData["Title"] = "Book";
}

<!--  cover image  -->
<div class="book-cover-img">

    @*<div class="book-now-box">
            <a href="" class="hero-btn">Book Now</a>
        </div>*@

    <form class="book-filter" action="/" method="post">
        <div class="form-fields">
            <label for="date">Start date:</label>
            <input type="date" id="date" placeholder="dd/MM/yyyy" name="date">
            <label for="date">End date:</label>
            <input type="date" id="date" placeholder="dd/MM/yyyy" name="date">
            <button class="filter-button" type="submit">Check Availability</button>
        </div>
    </form>
</div>


<!------ Item1 - Booking form ------->
<div class="item1-intro">
    <h1>Select your preferences and book</h1>
</div>


<!--  Print all boats  -->
<h2 class="boats-title">Our Boats</h2>

<div class="post-col">
    <!-- Refers to the whole form combination-->
    <form class="booking-form" method="post">

        <!--  Boat type  -->
        <span class="dataV" asp-validation-for="Boat.BoatType"></span>
        <select asp-for="Boat.BoatType" asp-items="Html.GetEnumSelectList<BOATTYPE>()">
        </select>

        <!--  item type  -->
        <span class="dataV" asp-validation-for="Item.ItemType"></span>
        <select asp-for="Item.ItemType" asp-items="Html.GetEnumSelectList<ITEMTYPE>()">
        </select>

        <!--  Capacity  -->
        <span class="dataV" asp-validation-for="Boat.Capacity"></span>
        <select asp-for="Boat.Capacity" asp-items="Html.GetEnumSelectList<CAPACITY>()">
        </select>

        <!--  Duration  -->
        <select id="Select1">
            <option>2</option>
            <option>4</option>
            <option>6</option>
            <option>8</option>
            <option>10</option>
            <option>24</option>
        </select>

        <!--  start date  -->
        <label for="date">Start date:</label>
        <input type="date" id="date" placeholder="dd/MM/yyyy" name="date">

        <!--  end date  -->
        <label for="date">End date:</label>
        <input type="date" id="date" placeholder="dd/MM/yyyy" name="date">

        <!--  Quantity  -->
        <span class="dataV" asp-validation-for="Boat.Quantity"></span>
        <input type="text" asp-for="Boat.Quantity"
               placeholder="Quantity" />

        <!--  Location (create the object and bind it later)  -->
        <span class="dataV"></span>
        <input type="text"
               placeholder="Location" />

        <!--  Submit button  -->
        <input id="Submit1" type="submit" value="Book" />
    </form>
</div>
