@page
@model Synthesis_Assignment_Web_App.Pages.BookModel
@using SynthesisAssignment.Services;
@using SynthesisAssignment.Models;
@using SynthesisAssignment.Models.Enums;
@using SynthesisAssignment.MyClasses.Enums;
@{
    ViewData["Title"] = "Book";
}

<!--  cover image  -->
<div class="book-cover-img">

    @*<div class="book-now-box">
            <a href="" class="hero-btn">Book Now</a>
        </div>*@

    <form class="book-filter" action="/" method="post">
        <div class="form-fields">
            <label for="date">Start date:</label>
            <input type="date" id="date" placeholder="dd/MM/yyyy" name="date">
            <label for="date">End date:</label>
            <input type="date" id="date" placeholder="dd/MM/yyyy" name="date">
            <button class="filter-button" type="submit">Check Availability</button>
        </div>
    </form>
</div>


<!------ Item1 - Booking form ------->
<div class="item1-intro">
    <h1>Select your preferences and book</h1>
</div>


<!--  Title  -->
<!--  <h2 class="boats-title">Our Collection</h2>  -->

<div class="post-col">
    <!-- Refers to the whole form combination-->
    <form class="booking-form" method="post">

        <!--  Boat type  -->
        <span class="dataV" asp-validation-for="Boat.BoatType"></span>
        <select asp-for="Boat.BoatType" asp-items="Html.GetEnumSelectList<BOATTYPE>()">
        </select>

        <!--  boat Quantity  -->
        <span class="dataV" asp-validation-for="Boat.Quantity"></span>
        <input required type="text" asp-for="Boat.Quantity"
               placeholder="Boat Quantity" />

        <!--  item type  -->
        <span class="dataV" asp-validation-for="Item.ItemType"></span>
        <select asp-for="Item.ItemType" asp-items="Html.GetEnumSelectList<ITEMTYPE>()">
        </select>

        <!--  item Quantity  -->
        <span class="dataV" asp-validation-for="Item.Quantity"></span>
        <input required type="text" asp-for="Item.Quantity"
               placeholder="Item Quantity" />

        <!--  Duration  -->
        <select asp-for="Quote.Duration" asp-items="new SelectList(Model.GenerateHours())">
        </select>

        <!--  start date  -->
        <label for="date">Start date:</label>
        <input type="date" id="date" placeholder="dd/MM/yyyy" name="date">

        <!--  end date  -->
        <label for="date">End date:</label>
        <input type="date" id="date" placeholder="dd/MM/yyyy" name="date">

        <!--  item type  -->
        <span class="dataV" asp-validation-for="Quote.Location"></span>
        <select asp-for="Quote.Location" asp-items="Html.GetEnumSelectList<LOCATION>()">
        </select>

        <!--  Submit button  -->
        <input id="Submit1" type="submit" value="Book" />
    </form>
</div>
