@page
@model Synthesis_Assignment_Web_App.Pages.ConfirmationPageModel
@{
    ViewData["Title"] = "Confirm Booking";
}

<div class="confirm-logo">
    <img src="/Synfiles/Logo.png" />
</div>

<main class="confirm-body">
    <div class="quote-info">
        <div class="align-left">
            <h2>Rental Quote</h2>
            <span>Date 9/21/2021</span>
            <span>Reference No. 2021-021234</span>
            <span>Location Eindhoven</span>
            <span>Start 18/12/2021 at 10.00</span>
            <span>End 18/12/2021 at 14.00</span>
        </div>

        <div class="align-right">
            <h2>Customer</h2>
            <span>Name John Doe</span>
            <span>Address Rachelsmolen 3</span>
            <span>Zipcode &Aacute; City 5612 MA Eindhoven</span>
            <span>Phone 0888377353</span>
            <span>Email john@email.com</span>
        </div>
    </div>


    <table class="quote-description">
        <tr>
            <th>Description</th>
            <th>Quantity</th>
            <th>Duration (h)</th>
            <th>Unit Price (2h)</th>
            <th>Price</th>
        </tr>
    </table>

    <span>Toral: €105.00</span>

    <h2>Quote terms</h2>
    <span class="quote-terms">
        Note that when retrieving the boat at the rental location you are required to first transfer a deposit of €150.
    </span>

    <h2>Please sign and confirm booking</h2>
    <form class="checkbox-booking" method="post">
        Checkbox: <input type="checkbox" id="myCheck" name="test" required>
        <input class="submit-booking" type="submit" asp-page-handler="Confirm" value="Confirm Booking"/>
    </form>
</main>

