@page
@model Dutch_Experience.Pages.ContactModel
@{
    ViewData["Title"] = "Dutch Experience | Contact Us";
    ViewData["PageTitle"] = "Contact";
}

@section scripts{
    <partial name="_ValidationScriptsPartial" />
}

<!------ Contact us ------->

<h1 class="inquery-note">
    @*@Model.Text*@
</h1>

<div class="contact-us">
    <div class="location">
        <!--  map view on page  -->
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d19625.635374409845!2d4.356405400000009!3d52.05780134999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2snl!4v1619652339675!5m2!1sen!2snl"
                width="600"
                height="450"
                style="border: 0"
                loading="lazy"></iframe>
    </div>
</div>

<div class="contact">
    <h1>Our Contact Details</h1>
</div>

<div class="contact-us">
    <div class="contact-col">
        <span>
            <h5>Xyz Road, ABC Building</h5>
            <p>Amsterdam, The Netherlands</p>
        </span>
        <span>
            <h5>
                <a href="https://api.whatsapp.com/send?phone=31612345678">+31612345678</a>
            </h5>
            <p>Monday to Saterday 10 Am to 6 Pm on whatsapp as well</p>
        </span>
        <span>
            <h5>
                <a href="mailto:contact@dutchexperience.com">contact@dutchexperience.com</a>
            </h5>
            <p>Reach us by email</p>
        </span>
    </div>
</div>

<div class="contact">
    <h1>Write Us</h1>
</div>

<!------ Input fields ------->
<div class="contact-us">
    <div class="contact-col">
        <!-- Refers to the whole form combination-->
        <form method="post">
            @*<span asp-validation-for="Contact.Username"></span>
            <input type="text" asp-for="Contact.Username"
                   placeholder="Enter Your Name" />
            <span asp-validation-for="Contact.Email"></span>
            <input type="email" asp-for="Contact.Email"
                   placeholder="Enter Your Email" />
            <span asp-validation-for="Contact.Subject"></span>
            <input type="text" asp-for="Contact.Subject"
                   placeholder="Enter Your Subject" />
            <span asp-validation-for="Contact.Message"></span>
            <textarea asp-for="Contact.Message" rows="8"
                      placeholder="Message"></textarea>*@


            <!------ Button ------->
            <button type="submit" class="hero-btn red-btn">Send Message</button>
        </form>
    </div>
</div>


