@page
@model Dutch_Experience.Pages.IndexModel
@{
    ViewData["Title"] = "Dutch Experience | Home page";
    ViewData["PageTitle"] = "The Dutch Experience";
    ViewData["PageIntro"] = "Everything You Need To Know About The Netherlands";
}

<div class="container">
    <!------ Item1 - Intro ------->
    <div class="item1-intro">
        <h1>Intro</h1>
        <p>
            The Netherlands (Dutch: Nederland [ˈneːdərlɑnt] (About this
            soundlisten)), informally Holland,[15][16] is a country located in
            Western Europe with territories in the Caribbean. It is the largest of
            four constituent countries of the Kingdom of the
            Netherlands.[17][18][19] In Europe, the Netherlands consists of twelve
            provinces, bordering Germany to the east, Belgium to the south, and
            the North Sea to the northwest, with maritime borders in the North Sea
            with those countries and the United Kingdom.
        </p>
    </div>

    <!------ Item2 - Highlights ------->
    <main class="item2-highlights">
        <div class="item2-highlights-intro-col">
            @*IMAGE OF THE PLACE*@
            <a asp-page="/Post">
                <img class="actual-images" src="/ImagesAdmins/NL_Images/Den_Haag.jpg" alt="Alternate Text" />
            </a>
            <h3>Den Haag</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga alias
                voluptatem magnam quos eligendi earum quia harum quidem impedit
                itaque excepturi, debitis ipsam! Accusantium sequi tenetur
                voluptatem possimus rerum totam et officiis inventore voluptatum
                culpa. Eaque cupiditate repudiandae, at ullam perspiciatis corporis
                fugiat maxime quia aliquam atque amet possimus id.
            </p>
        </div>
        <div class="item2-highlights-intro-col">
            @*IMAGE OF THE PLACE*@
            <a asp-page="/Post">
                <img class="actual-images" src="/ImagesAdmins/NL_Images/Eindhoven.jpeg" alt="Alternate Text" />
            </a>
            <h3>Eindhoven</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga alias
                voluptatem magnam quos eligendi earum quia harum quidem impedit
                itaque excepturi, debitis ipsam! Accusantium sequi tenetur
                voluptatem possimus rerum totam et officiis inventore voluptatum
                culpa. Eaque cupiditate repudiandae, at ullam perspiciatis corporis
                fugiat maxime quia aliquam atque amet possimus id.
            </p>
        </div>
        <div class="item2-highlights-intro-col">
            @*IMAGE OF THE PLACE*@
            <a asp-page="/Post">
                <img class="actual-images" src="/ImagesAdmins/NL_Images/Utrecht.jpeg" alt="Alternate Text" />
            </a>
            <h3>Utrecht</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga alias
                voluptatem magnam quos eligendi earum quia harum quidem impedit
                itaque excepturi, debitis ipsam! Accusantium sequi tenetur
                voluptatem possimus rerum totam et officiis inventore voluptatum
                culpa. Eaque cupiditate repudiandae, at ullam perspiciatis corporis
                fugiat maxime quia aliquam atque amet possimus id.
            </p>
        </div>
        <div class="item2-highlights-intro-col">
            @*IMAGE OF THE PLACE*@
            <a asp-page="/Post">
                <img class="actual-images" src="/ImagesAdmins/NL_Images/Rotterdam.jpeg" alt="Alternate Text" />
            </a>
            <h3>Rotterdam</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga alias
                voluptatem magnam quos eligendi earum quia harum quidem impedit
                itaque excepturi, debitis ipsam! Accusantium sequi tenetur
                voluptatem possimus rerum totam et officiis inventore voluptatum
                culpa. Eaque cupiditate repudiandae, at ullam perspiciatis corporis
                fugiat maxime quia aliquam atque amet possimus id.
            </p>
        </div>
        <div class="item2-highlights-intro-col">
            @*IMAGE OF THE PLACE*@
            <a asp-page="/Post">
                <img class="actual-images" src="/ImagesAdmins/NL_Images/Amsterdam.jpeg" alt="Alternate Text" />
            </a>
            <h3>Amsterdam</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga alias
                voluptatem magnam quos eligendi earum quia harum quidem impedit
                itaque excepturi, debitis ipsam! Accusantium sequi tenetur
                voluptatem possimus rerum totam et officiis inventore voluptatum
                culpa. Eaque cupiditate repudiandae, at ullam perspiciatis corporis
                fugiat maxime quia aliquam atque amet possimus id.
            </p>
        </div>
    </main>
</div>

<!------ Videos Section (main) ------->
<!------ Some Other Section Section (main) ------->