@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@*menu icon for small screens*@
<div id="menu" class="fas fa-bars"></div>


<div class="text-center">
    <h1 class="display-4">Presentation of our services</h1>
</div>
