@page
@model Synthesis_Assignment_Web_App.Pages.MyReservationModel
@{
}

@*<div class="text-center">
    <h1 class="display-4">My Reservations</h1>
</div>*@

<h2>
    Your reference number of your reservation is: @Model.Quote.RefNumber Please save it to access your booking details
</h2>