@page
@model Synthesis_Assignment_Web_App.Pages.MyReservationModel
@{
}

<div class="page-title">
    <h1>My Reservations</h1>

    @if (!string.IsNullOrEmpty(MyReservationModel.QuoteIsNotFound))
    {
        <h2>@MyReservationModel.QuoteIsNotFound</h2>
    }
</div>

<div class="book-now-box">
    <a href="Book" class="hero-btn">Book Now</a>
</div>

<div class="reservation-block">
    <div class="access-form">
        <form method="post">
            <span class="dataV" asp-validation-for="Reservation.Customer.LastName"></span>
            <label for="fname">Last Name</label>
            <input required type="text" asp-for="Reservation.Customer.LastName" id="fname" placeholder="Your last name..">

            <span class="dataV" asp-validation-for="Reservation.RefNumber"></span>
            <label for="lname">Booking reference Number</label>
            <input required type="text" asp-for="Reservation.RefNumber" id="lname" placeholder="Reference number..">

            <input type="submit" asp-page-handler="FindQuote" value="Find My Reservation">
        </form>
    </div>
    @if (@Model.Quote.RefNumber != null)
    {
        <div class="access-form">
            <h2>Reservation Number: @Model.Quote.RefNumber</h2>
            <p>Please save your reference number of your reservation in a safe place to access your booking details</p>
            <form method="post">
                <input type="submit" asp-page-handler="Clear" value="Reference Number Saved">
            </form>
        </div>        
    }
</div>