@page
@model Dutch_Experience.Pages.PostModel
@{
    ViewData["Title"] = "Dutch Experience | Post";
    //ViewData["PageTitle"] = @Model.Post.PlaceName + " By " + Model.Post.Publisher.Username;
    ViewData["description"] = "after the page is complete, it should show the clicked post details with the functionalities to score or add comment to the post";
}

@*Add other place details and commenting section and design the post page*@
<div>
    @*now, the page shows only the name of the clicked post from the blog page: @Model.Post.PlaceName*@
</div>